<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.helpdesk.admin.board.mapper.BoardMapper">

    <sql id="selectBoardListSql">
        SELECT
            B.board_id,
            B.sys_id,
            B.board_type,
            B.board_title,
            B.board_desc,
            B.status_use_yn,
            B.board_use_yn,
            B.reg_dt,
            S.sys_nm,
            (SELECT COUNT(*) FROM TB_POST_INFO P WHERE P.board_id = B.board_id AND P.post_status = 'W' AND P.post_use_yn = 'Y') AS ntt_wait,
            (SELECT COUNT(*) FROM TB_POST_INFO P WHERE P.board_id = B.board_id AND P.post_status = 'R' AND P.post_use_yn = 'Y') AS ntt_rcept,
            (SELECT COUNT(*) FROM TB_POST_INFO P WHERE P.board_id = B.board_id AND P.post_status = 'C' AND P.post_use_yn = 'Y') AS ntt_compt,
            ROW_NUMBER() OVER(ORDER BY B.board_id DESC) AS rsn
        FROM TB_BOARD_INFO B
        JOIN TB_SYS_INFO S ON B.sys_id = S.sys_id
        WHERE B.board_use_yn = 'Y'
        <if test="sysId != null and sysId != ''">
          AND B.sys_id = #{sysId}
        </if>
        <if test="boardType != null and boardType != ''">
            AND B.board_type = #{boardType}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (B.board_title LIKE '%' + #{keyword} + '%'
              OR CAST(B.board_id AS VARCHAR) LIKE '%' + #{keyword} + '%')
        </if>
    </sql>

    <select id="selectBoardList" parameterType="map" resultType="map">
        SELECT PL.* FROM (
            SELECT PO.* FROM ( <include refid="selectBoardListSql"/> ) PO
        ) PL
        WHERE rsn &gt; #{minSn} AND rsn &lt;= #{maxSn}
    </select>

    <select id="selectBoardListCount" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM TB_BOARD_INFO
        WHERE board_use_yn = 'Y'
        <if test="sysId != null and sysId != ''">AND sys_id = #{sysId}</if>
        <if test="boardType != null and boardType != ''">AND board_type = #{boardType}</if>
        <if test="keyword != null and keyword != ''">
            AND (board_title LIKE '%' + #{keyword} + '%'
              OR CAST(board_id AS VARCHAR) LIKE '%' + #{keyword} + '%')
        </if>
    </select>

    <select id="selectBoardInfo" parameterType="map" resultType="map">
        SELECT * FROM TB_BOARD_INFO WHERE board_id = #{boardId}
    </select>

    <select id="selectBoardRoleCfg" parameterType="map" resultType="map">
        SELECT * FROM TB_BOARD_ROLE_CFG WHERE board_id = #{boardId}
    </select>

    <select id="selectBoardFieldList" parameterType="map" resultType="map">
        SELECT * FROM TB_BOARD_FIELD_INFO
        WHERE board_id = #{boardId}
        <if test="listUseYn != null and listUseYn != ''">AND list_use_yn = #{listUseYn}</if>
        ORDER BY field_order
    </select>

    <insert id="insertBoardInfo" parameterType="map" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO TB_BOARD_INFO (
            sys_id, board_type, board_purpose, board_title, board_desc,
            reply_type, menu_id, page_post_cnt,
            secret_use_yn, file_max_cnt, editor_use_yn, status_use_yn,
            new_post_notice_hr, list_file_download_yn, file_limit_size,
            approval_use_yn, satisfaction_use_yn, sms_use_yn, email_use_yn,
            owner_list_use_yn, post_content_required_yn, notice_yn,
            reply_yn, copy_yn, preface_use_yn, preface_content,
            anonymous_use_yn, folder_use_yn, allowed_ext,
            reg_period_use_yn, board_use_yn, reg_id, reg_nm, reg_ip, reg_dt
        ) VALUES (
            #{sysId}, #{boardType}, #{boardPurpose}, #{boardTitle}, #{boardDesc},
            #{replyType}, #{menuId}, #{pagePostCnt},
            #{secretUseYn}, #{fileMaxCnt}, #{editorUseYn}, #{statusUseYn},
            #{newPostNoticeHr}, #{listFileDownloadYn}, #{fileLimitSize},
            #{approvalUseYn}, #{satisfactionUseYn}, #{smsUseYn}, #{emailUseYn},
            #{ownerListUseYn}, #{postContentRequiredYn}, #{noticeYn},
            #{replyYn}, #{copyYn}, #{prefaceUseYn}, #{prefaceContent},
            #{anonymousUseYn}, #{folderUseYn}, #{allowedExt},
            #{regPeriodUseYn}, 'Y', #{regId}, #{regNm}, #{regIp}, GETDATE()
        )
    </insert>

    <insert id="insertBoardRoleCfg" parameterType="map">
        INSERT INTO TB_BOARD_ROLE_CFG (
            board_id, manage_role, update_role, delete_role,
            read_role, read_msg, write_role, write_msg,
            secret_role, secret_msg, reply_role, reply_msg,
            print_role, write_btn_show_yn, reply_btn_show_yn
        ) VALUES (
            #{boardId}, #{manageRole}, #{updateRole}, #{deleteRole},
            #{readRole}, #{readMsg}, #{writeRole}, #{writeMsg},
            #{secretRole}, #{secretMsg}, #{replyRole}, #{replyMsg},
            #{printRole}, #{writeBtnShowYn}, #{replyBtnShowYn}
        )
    </insert>

    <insert id="insertBoardFieldInfo" parameterType="map">
        INSERT INTO TB_BOARD_FIELD_INFO (
            board_id, field_nm, field_type, field_value, field_order,
            list_use_yn, list_width, required_yn, view_use_yn, category_use_yn, col_nm
        ) VALUES (
            #{boardId}, #{fieldNm}, #{fieldType}, #{fieldValue}, #{fieldOrder},
            #{listUseYn}, #{listWidth}, #{requiredYn}, #{viewUseYn}, #{categoryUseYn}, #{colNm}
        )
    </insert>

    <update id="updateBoardInfo" parameterType="map">
        UPDATE TB_BOARD_INFO SET
            board_type              = #{boardType},
            board_title             = #{boardTitle},
            board_desc              = #{boardDesc},
            reply_type              = #{replyType},
            menu_id                 = #{menuId},
            page_post_cnt           = #{pagePostCnt},
            secret_use_yn           = #{secretUseYn},
            file_max_cnt            = #{fileMaxCnt},
            editor_use_yn           = #{editorUseYn},
            status_use_yn           = #{statusUseYn},
            new_post_notice_hr      = #{newPostNoticeHr},
            list_file_download_yn   = #{listFileDownloadYn},
            file_limit_size         = #{fileLimitSize},
            approval_use_yn         = #{approvalUseYn},
            sms_use_yn              = #{smsUseYn},
            email_use_yn            = #{emailUseYn},
            owner_list_use_yn       = #{ownerListUseYn},
            notice_yn               = #{noticeYn},
            reply_yn                = #{replyYn},
            preface_use_yn          = #{prefaceUseYn},
            preface_content         = #{prefaceContent},
            anonymous_use_yn        = #{anonymousUseYn},
            folder_use_yn           = #{folderUseYn},
            allowed_ext             = #{allowedExt},
            reg_period_use_yn       = #{regPeriodUseYn},
            reg_begin_dt            = #{regBeginDt},
            reg_end_dt              = #{regEndDt}
        WHERE board_id = #{boardId}
    </update>

    <update id="updateBoardRoleCfg" parameterType="map">
        UPDATE TB_BOARD_ROLE_CFG SET
            read_role           = #{readRole},
            read_msg            = #{readMsg},
            write_role          = #{writeRole},
            write_msg           = #{writeMsg},
            secret_role         = #{secretRole},
            secret_msg          = #{secretMsg},
            reply_role          = #{replyRole},
            reply_msg           = #{replyMsg},
            print_role          = #{printRole},
            write_btn_show_yn   = #{writeBtnShowYn},
            reply_btn_show_yn   = #{replyBtnShowYn}
        WHERE board_id = #{boardId}
    </update>

    <update id="updateBoardFieldInfo" parameterType="map">
        UPDATE TB_BOARD_FIELD_INFO SET
            list_use_yn     = #{listUseYn},
            list_width      = #{listWidth},
            view_use_yn     = #{viewUseYn},
            field_type      = #{fieldType},
            field_nm        = #{fieldNm},
            field_value     = #{fieldValue},
            required_yn     = #{requiredYn},
            category_use_yn = #{categoryUseYn}
        WHERE field_seq = #{fieldSeq}
    </update>

    <update id="deleteBoardInfo" parameterType="map">
        UPDATE TB_BOARD_INFO SET board_use_yn = 'N' WHERE board_id = #{boardId}
    </update>

    <delete id="deleteBoardFieldInfo" parameterType="map">
        DELETE FROM TB_BOARD_FIELD_INFO WHERE field_seq = #{fieldSeq}
    </delete>

    <delete id="deleteBoardFieldBasicList" parameterType="map">
        DELETE FROM TB_BOARD_FIELD_INFO WHERE board_id = #{boardId} AND field_type = 'DEFAULT'
    </delete>

    <!-- 시스템 목록 조회 -->
    <select id="selectSystemList" resultType="map">
        SELECT sys_id AS sysId, sys_nm AS sysNm
        FROM TB_SYS_INFO
        WHERE sys_status = 'O'
        ORDER BY sys_id
    </select>

</mapper>
